h2 {
    text-align: center;
}
input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 10%;
    text-align: center;
    justify-content: center;
    border-top: none;
    border-right: none;
    border-left: none;
}
.nav {
    justify-content: space-around;
    display: flex;
}
#search {
    display: flex;
    justify-content: center;
    margin: 2%;
}
#search select {
    margin-right: 20%;
}
#search label {
    margin-right: 2%;
}
#current-location {
    display: flexbox;
    text-align: center;
    padding: 20px;
    margin: 0, auto;
}
